.main-slider{
    background-color:rgb(228, 215, 215);
}
.img-center{
    display: block;
     margin: auto;
      width: 100%;
}
.colortittle{
    color: hsl(219, 70%, 96%);
}
.text-slider{
    color: #434343;
}

